<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="owner">Owner</label>
                <select id="owner" ng-model="owner" ng-options="player.name for player in getPlayers()"></select>
            </div>            
            <div class="form-group">
                <label for="suspect">Suspect</label>
                <select ng-model="suspect" ng-options="suspect.name for suspect in getSuspects()" ng-change="onSuspectSelected()">
                    <option value="">Select</option>
                </select>
            </div>            
            <div class="form-group">
                <label for="weapon">Weapon</label>
                <select ng-model="weapon" ng-options="weapon.name for weapon in getWeapons()" ng-change="onWeaponSelected()">
                    <option value="">Select</option>
                </select>
            </div>            
            <div class="form-group">
                <label for="room">Room</label>
                <select ng-model="room" ng-options="room.name for room in getRooms()" ng-change="onRoomSelected()">
                    <option value="">Select</option>
                </select>
            </div>            

            <button class="btn btn-primary" ng-disabled="!validate()" ng-click="submit()">Submit</button>         
        </form>
    </div>
</div>
