<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Suspect</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="suspect in getSuspects()" ng-class="{success: isProvenEntity(suspect)}">
                    <td>{{suspect.name}}</td>
                    <td>
                        <span ng-show="findOwner(suspect)">{{ findOwner(suspect).name }}</span>
                        <span ng-hide="findOwner(suspect)">{{ isProvenEntity(suspect) ? 'X' : '?' }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Weapon</th>              
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="weapon in getWeapons()" ng-class="{success: isProvenEntity(weapon)}">
                    <td>{{weapon.name}}</td>
                    <td>
                        <span ng-show="findOwner(weapon)">{{ findOwner(weapon).name }}</span>
                        <span ng-hide="findOwner(weapon)">{{ isProvenEntity(weapon) ? 'X' : '?' }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="room in getRooms()" ng-class="{success: isProvenEntity(room)}">
                    <td>{{room.name}}</td>
                    <td>
                        <span ng-show="findOwner(room)">{{ findOwner(room).name }}</span>
                        <span ng-hide="findOwner(room)">{{ isProvenEntity(room) ? 'X' : '?' }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    

