<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="gameType">Game Type</label>
                <select id="gameType" ng-model="gameType">
                    <option value="clue">Clue</option>
                    <option value="classic">Classic</option>
                </select>
            </div>            
            <div class="form-group">
                <label for="numberOfPlayers">Number of players</label>
                <select id="numberOfPlayers" ng-model="numberOfPlayers" ng-options="i for i in numberOfPlayersList" ng-change="refreshPlayers()"></select>
            </div>            
            <div class="form-group" ng-repeat="player in players">
                <label for="playerName{{$index}}">Player name</label>
                <input id="playerName{{$index}}" type="text" class="form-control" ng-model="player.name">
            </div>            
            <button class="btn btn-primary" ng-click="createGame()">Start Game</button>         
        </form>
    </div>
</div>
